{% extends "template.html" %}
{% block title%}
Login
{% endblock %}
{% block body %}
<h1>Login to Account</h1>
<h2>
{% for message in get_flashed_messages() %}
	{{ message }}
{% endfor %}
</h2>
<p><form action="request" method="POST">
<strong>Username</strong></br><input type="text" name="user" name="Username" required></br>
<strong>Password</strong></br><input type="password" name="pass" name="Password" required></br></br>
                        <input name="Login" type="submit" value="Submit">
</form></p>
{% endblock %}
